.container {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  white-space: nowrap;
}

.box {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--mantine-spacing-xs) / 2);
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  transition: all var(--mantine-transition-duration);
  border: none;
  background-color: var(--mantine-color-gray-1);
  font-size: var(--mantine-font-size-sm);
  height: 24px;
  line-height: 1;
}

.fieldBox {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.operatorBox {
  border-radius: 0;
}

.valueBox {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-6);
  flex-shrink: 0;
}

.label {
  font-weight: 400;
  color: var(--mantine-color-gray-7);
}

.labelCompact {
  font-size: var(--mantine-font-size-xs);
}

.labelNormal {
  font-size: var(--mantine-font-size-sm);
}

.operator {
  font-weight: 400;
  color: var(--mantine-color-gray-7);
}

.operatorCompact {
  font-size: var(--mantine-font-size-xs);
}

.operatorNormal {
  font-size: var(--mantine-font-size-sm);
}

.icon {
  color: var(--mantine-color-gray-6);
}

