.text {
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-yellow-6), var(--mantine-color-yellow-4));
  margin-top: var(--mantine-spacing-sm);
  margin-left: var(--mantine-spacing-xs);
}

