.container {
  flex-shrink: 0;
  height: calc(var(--mantine-spacing-md) * 1.5);
  display: flex;
  align-items: center;
}

.placeholder {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
  cursor: pointer;
}

