.options {
  padding: calc(var(--mantine-spacing-xs) / 2);
  border-radius: var(--mantine-radius-md);
}

.option {
  border-radius: var(--mantine-radius-sm);
  transition: all 150ms;
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-sm);
  border: none;
  background: transparent;
}

.option:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.option[data-combobox-selected] {
  background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-9));
  color: light-dark(var(--mantine-color-primary-7), var(--mantine-color-primary-3));
}

.operatorLabel {
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}

.spaceY {
  display: flex;
  flex-direction: column;
  gap: calc(var(--mantine-spacing-xs) / 2);
}

